@font-face {
  src: url("./fonts/KumbhSans-ExtraLight.ttf");
  font-family: "Kumbh";
  font-display: swap;
}

@font-face {
  src: url("./fonts/KumbhSans-SemiBold.ttf");
  font-family: "KumbhBold";
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "Kumbh";
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;

  overflow: hidden;

  background-color: #19a1ad;
}

main {
  background-color: white;
  overflow: hidden;

  width: calc(12em + 12vw);
  border-radius: calc(0.3em + 0.3vw);

  z-index: 2;
}

h1,
h2 {
  font-family: "KumbhBold";
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  margin-right: calc(0.3em + 0.3vw);
}
hr {
  opacity: 0.2;
}

p {
  margin: 0;
  font-weight: bold;
  color: gray;
}

.container {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  min-width: 150vw;
  min-height: 150vh;

  position: absolute;

  z-index: 1;
}

.bg-top {
  margin-top: -30em;
  margin-left: -20em;

  background-image: url("./images/bg-pattern-top.svg");

  background-repeat: no-repeat;
  background-size: contain;
}

.bg-bottom {
  margin-top: calc(10em + 10vw);
  margin-left: calc(20em + 20vw);

  background-image: url("./images/bg-pattern-bottom.svg");

  background-repeat: no-repeat;
  background-size: contain;
}

.card-image {
  width: 100%;
  height: calc(4em + 4vw);

  background-image: url("./images/bg-pattern-card.svg");

  display: flex;
  justify-content: center;
  align-items: end;
}

.avatar-image {
  width: calc(3.2em + 3.2vw);
  height: calc(3.2em + 3.2vw);
  margin-top: -3em;
  margin-left: calc(4.4em + 4.4vw);
  margin-right: calc(4.4em + 4.4vw);

  border-radius: 200%;

  background-image: url("./images/image-victor.jpg");
  background-size: cover;

  outline: calc(0.2em + 0.2vw) solid white;
}

.tittle {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.card-text {
  text-align: center;
}

.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1440px) {
  .bg-top {
    margin-top: -60em;
    margin-left: -60em;
  }

  .bg-bottom {
    margin-top: calc(15em + 15vw);
    margin-left: calc(25em + 25vw);
  }

  .avatar-image {
    margin-left: calc(4.6em + 4.6vw);
    margin-right: calc(4.6em + 4.6vw);

    margin-bottom: calc(1em + 1vw);
  }
  .tittle {
    margin-bottom: calc(0.4em + 0.4vw);
  }

  .info {
    margin-bottom: calc(1em + 1vw);
  }

  h1,
  h2 {
    font-size: calc(0.7em + 0.7vw);
  }

  .country,
  hr {
    margin-bottom: calc(0.5em + 0.5vw);
  }

  .tittle p {
    font-size: calc(0.7em + 0.7vw);
  }
}

@media (max-width: 1366px) {
  .bg-top {
    margin-top: -30em;
    margin-left: -20em;
  }

  .bg-bottom {
    margin-top: calc(10em + 10vw);
    margin-left: calc(20em + 20vw);
  }
}

@media (max-width: 1100px) {
  .bg-top {
    margin-top: -40em;
    margin-left: -20em;
  }

  .bg-bottom {
    margin-top: calc(11em + 11vw);
    margin-left: calc(20em + 20vw);
  }
}

@media (max-width: 1000px) {
  .bg-top {
    margin-left: -25em;
  }

  .bg-bottom {
    margin-top: calc(11em + 11vw);
    margin-left: calc(18em + 18vw);
  }

  .avatar-image {
    margin-left: calc(4.5em + 4.5vw);
    margin-right: calc(4.5em + 4.5vw);

    margin-bottom: calc(1em + 1vw);
  }
}

@media (max-width: 850px) {
  .bg-top {
    margin-top: -40em;
    margin-left: -30em;
  }

  .bg-bottom {
    margin-top: calc(12em + 12vw);
    margin-left: calc(16em + 16vw);
  }
}

@media (max-width: 760px) {
  main {
    width: calc(13em + 13vw);
    font-size: calc(1em + 1vw);
  }

  .card-image {
    height: calc(5.5em + 5.5vw);
  }

  .bg-top {
    margin-top: -40em;
    margin-left: -33em;
  }

  .bg-bottom {
    margin-top: calc(13em + 13vw);
    margin-left: calc(16em + 16vw);
  }

  .avatar-image {
    width: calc(4em + 4vw);
    height: calc(4em + 4vw);
    margin-left: calc(4.6em + 4.6vw);
    margin-right: calc(4.6em + 4.6vw);
  }

  .info p {
    font-size: calc(0.6em + 0.6vw);
  }
}

@media (max-width: 560px) {
  .bg-top {
    margin-top: -30em;
    margin-left: -35em;
  }

  .bg-bottom {
    margin-top: calc(13em + 13vw);
    margin-left: calc(16em + 16vw);
  }
}

@media (max-width: 501px) {
  .bg-top {
    margin-top: -25em;
    margin-left: -30em;
  }

  .bg-bottom {
    margin-top: calc(15em + 15vw);
    margin-left: calc(13em + 13vw);
  }
}

@media (max-width: 431px) {
  .bg-top {
    margin-top: -20em;
    margin-left: -26em;
  }

  .bg-bottom {
    margin-top: calc(16em + 16vw);
    margin-left: calc(11em + 11vw);
  }
}

@media (max-width: 361px) {
  .bg-top {
    margin-top: -13em;
    margin-left: -22em;
  }

  .bg-bottom {
    margin-top: calc(18em + 18vw);
    margin-left: calc(9em + 9vw);
  }
}
